<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Admin Registration</title>
    <link rel="stylesheet" th:href="@{css/registration.css}">
    <link rel="stylesheet" th:href="@{css/forms.css}">
</head>

<body style="margin:0; padding:0;">


<table style="width: 100%; height: 100vh;" border="0">
    <tr>
        <td align="center" valign="middle">
            <form th:action="@{/admin_registration}" th:object="${adminRegistrationForm}" method="post">
                <table style="margin-top: auto; margin-bottom: auto; width: 40%;" border="0">
                    <tr>
                        <td valign="middle">
                            <label class="field_label">
                                First name
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="center">
                            <label>
                                <input type="text" th:field="*{firstName}" style="width: 80%; height: 40px; font-size: larger; padding: 0px 10px;" placeholder="First name" required />
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="middle">
                            <label class="field_label">
                                Last name
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="center">
                            <label>
                                <input type="text" th:field="*{lastName}" style="width: 80%; height: 40px; font-size: larger; padding: 0px 10px;" placeholder="Surname or family name" required />
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="middle">
                            <label class="field_label">
                                Other names
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="center">
                            <label>
                                <input type="text" th:field="*{otherNames}" style="width: 80%; height: 40px; font-size: larger; padding: 0px 10px;" placeholder="Other names" required />
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="middle">
                            <label class="field_label">
                                Phone number
                                <label style="cursor: pointer; color: #000077; font-weight: bold;" title="include a country code for users/contacts outside Rwanda starting with a plus sign (+)">
                                    <i>i</i>
                                </label>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="center">
                            <label>
                                <input type="text" th:field="*{phoneNumber}" style="width: 80%; height: 40px; font-size: larger; padding: 0px 10px;" placeholder="phone number" required />
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="middle">
                            <label class="field_label">
                                Email
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="center">
                            <label>
                                <input type="email" th:field="*{username}" style="width: 80%; height: 40px; font-size: larger; padding: 0px 10px;" placeholder="Email" autocomplete="off" required />
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="middle">
                            <label class="field_label">
                                Password
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="center">
                            <label>
                                <input type="password" th:field="*{password}" style="width: 80%; height: 40px; font-size: larger; padding: 0px 10px;" placeholder="Password" autocomplete="off" required />
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="middle">
                            <label class="field_label">
                                Confirm password
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="center">
                            <label>
                                <input type="password" th:field="*{repeatPassword}" style="width: 80%; height: 40px; font-size: larger; padding: 0px 10px;" placeholder=" type the same password" autocomplete="off" required />
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="submit" value="Register" id="submit_button"/>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div th:if="${unsuccessfulRegistration != null}" id="failed_auth_message">
                                Invalid username and/or password.
                            </div>
                            <div th:if="${successfulRegistration != null}" id="logged_out_message">
                                You have been successfully registered. Please proceed to
                                <a style="text-decoration: none; font-weight: bold;" href="/login">login</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>

</table>

</body>
</html>