<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <link rel="stylesheet"  th:href="@{css/forms.css}" />
</head>
<body style="margin: 0; padding: 0;">
<form th:action="@{/change_password}" method="post">

    <table cellspacing="0" cellpadding="0" border="0" width="40%" align="center">
        <tr>
            <td style="text-align: center; vertical-align: center">
                <label class="form_tile_label" style="font-size: large; font-weight: bold">
                    Change password
                </label>
            </td>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
        <tr>
            <td align="center">
                <label>
                    <input type="hidden" class="property_value" id="current_username" name="current_email" th:value="${current_username}" />
                </label>
            </td>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
        <tr>
            <td>
                <label class="field_label" for="current_password_id" style="cursor: pointer;">Current password</label>
            </td>
        </tr>
        <tr>
            <td align="center">
                <label>
                    <input type="hidden" class="property_name" value="current_password" />
                    <input type="password" class="property_value" name="current_password" id="current_password_id" value="" />
                </label>
            </td>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
        <tr>
            <td>
                <label class="field_label" for="new_password_id" style="cursor: pointer;">New password</label>
            </td>
        </tr>
        <tr>
            <td align="center">
                <label>
                    <input type="hidden" class="property_name" value="new_password" />
                    <input type="password" class="property_value" name="new_password" id="new_password_id" value="" />
                </label>
            </td>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
        <tr>
            <td>
                <label class="field_label" for="confirm_new_password_id" style="cursor: pointer;">Confirm new password</label>
            </td>
        </tr>
        <tr>
            <td align="center">
                <label>
                    <input type="hidden" class="property_name" value="confirm_new_password" />
                    <input type="password" class="property_value" name="confirm_new_password" id="confirm_new_password_id" value="" />
                </label>
            </td>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
        <tr>
            <td align="center">
                <input type="button" class="add_button" id="change_password_button" value="Change" /><br />
            </td>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
    </table>
</form>
<script type="application/javascript">

    var submitButton = document.getElementById('change_password_button');

    submitButton.addEventListener("click", () => {

        const username = document.getElementById("current_username").value;
        const currentPassword = document.getElementById("current_password_id").value;
        const newPassword = document.getElementById("new_password_id").value;
        const confirmedPassword = document.getElementById("confirm_new_password_id").value;

        const submission = {
            "username": username,
            "current_password": currentPassword,
            "new_password": newPassword,
            "confirm_new_password": confirmedPassword
        };
        fetch('/change_password',
            {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(submission)
            }
        );
    });
</script>
</body>
</html>