<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Spring Standardization</title>
</head>

<style type="text/css">

    #left_pane{
        width: 20%;
        padding: 0%;
        margin: 0%;
        background: #9F9F9F;
    }

    #right_pane{
        width: 20%;
        padding: 0%;
        margin: 0%;
        background: white;
    }

    #center_pane{
        padding: 0%;
        background: #FFFFFF;
    }

    .action_selector{
        width: 70%;
        padding: 3% 15%;
        cursor: pointer;
    }
    .action_selector:hover{
        background: #555555;
        color: white;
    }

    .action_pane{
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
        overflow-x: scroll;
    }

    .add_button{
        border: none;
        background: #000000;
        color: #FFFFFF;
        padding: 14px 28px;
        font-size: math;
    }
    .add_button:hover{
        background: #998833;
    }

    .top_action_icon_image{
        width: 25px;
        height: 25px;
    }

    .failed_action_message{
        color: red;
        font-size: medium;
    }

    .successful_action_message{
        color: green;
        font-size: medium;
    }

</style>

<script type="application/javascript">
    function displaySelection(idName, className){
        var classElementArray = document.getElementsByClassName(className);
        for(let i=0; i<classElementArray.length; i++){
            var specificElement = classElementArray[i];
            if(specificElement.id === idName){
                specificElement.style.display = "block";
                continue;
            }
            specificElement.style.display = "none";
        }
    }
</script>

<body style="margin: 0%; padding: 0%;">

<table style="width: 100%; height: 100vh;" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td id="left_pane" valign="top" style="padding: 0;">
            <table style="width: 100%; border: 0; margin: auto;">
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <td valign="middle" align="center" style="">
                        <label style="margin-left: 20px; font-size: larger; font-weight: bold">Action list</label>
                    </td>
                </tr>
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <td valign="middle">
                        <div class="action_selector" onclick="displaySelection('db_schema', 'action_pane')">
                            Schemas
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="middle">
                        <div class="action_selector" onclick="displaySelection('db_table', 'action_pane')">
                            Tables
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="middle">
                        <div class="action_selector" onclick="displaySelection('db_relationship', 'action_pane')">
                            Relationships
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="middle">
                        <div class="action_selector" onclick="displaySelection('db_column', 'action_pane')">
                            Columns
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="middle">
                        <div class="action_selector" onclick="displaySelection('db_documentation', 'action_pane')">
                            Documentation
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>

        <td align="center" valign="top" id="center_pane" style="overflow: scroll;" width="60%">
            <div class="action_pane" id="welcome" style="display: block; overflow: auto;">
                <h2>Welcome!</h2>
            </div>
            <div class="action_pane" id="db_schema" style="display: none; overflow: auto;">
                <h2>Database Schemas</h2>
                <table style="width: 94%;">
                    <tr>
                        <td align="center">
                            <img th:src="@{/images/add.png}" alt="Add" class="top_action_icon_image" onclick="displaySelection('add_schema', 'item_action')" />
                            <img th:src="@{/images/view.png}" alt="View" class="top_action_icon_image" onclick="displaySelection('view_schema', 'item_action')" />
                        </td>
                    </tr>
                    <tr>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width:100%; margin:0; padding:0;" class="item_action" id="add_schema">
                                <form th:action="@{/schema}" method="post">
                                <table style="margin-top: auto; margin-bottom: auto; width: 100%;" border="0">
                                    <tr>
                                        <td valign="middle" align="center">
                                            <label>
                                                <input type="text" name="schema_name" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px;" placeholder="Schema name e.g UM" required />
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="middle" align="center">
                                            <label>
                                                <textarea name="description" style="width: 80%; height: 200px; font-size: large; padding: 10px 10px;" placeholder="type here" required></textarea>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><br /></td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <input type="submit" value="Add schema" class="add_button"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <div th:if="${param.error}" class="failed_action_message">
                                                Invalid schema details
                                            </div>
                                            <div th:if="${param.added_schema}" class="successful_action_message">
                                                You have successfully added a schema.
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                </form>
                            </div> <!-- End of add schema form -->
                            <!-- start of view schemas -->
                            <div style="margin: 0; padding: 0; display: none" class="item_action" id="view_schema">
                                List of schemas here
                            </div>
                            <!-- End of view schemas -->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="action_pane" id="db_table" style="display: none; overflow: auto;">
                <h2>Database Tables</h2>
                <table style="width: 94%;">
                    <tr>
                        <td align="center">
                            <img th:src="@{/images/add.png}" alt="Add" class="top_action_icon_image" onclick="displaySelection('add_table', 'item_action')" />
                            <img th:src="@{/images/view.png}" alt="View" class="top_action_icon_image" onclick="displaySelection('view_table', 'item_action')" />
                        </td>
                    </tr>
                    <tr>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width:100%; margin:0; padding:0;" class="item_action" id="add_table">
                                <form th:action="@{/database_table}" method="post">
                                    <table style="margin-top: auto; margin-bottom: auto; width: 100%;" border="0">
                                        <tr>
                                            <td valign="middle" align="center">
                                                <label>
                                                    <input type="text" name="table_name" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px;" placeholder="Table name e.g Sales" required />
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <select name="schema" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;">
                                                    <option disabled selected>Select schema</option>
                                                    <option>Some schema 1</option>
                                                    <option>Some schema 2</option>
                                                    <option>Some schema 3</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td valign="middle" align="center">
                                                <label>
                                                    <textarea name="description" style="width: 80%; height: 200px; font-size: large; padding: 10px 10px;" placeholder="type here" required></textarea>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><br /></td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <input type="submit" value="Add Table" class="add_button"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <div th:if="${param.error}" class="failed_action_message">
                                                    Invalid table details
                                                </div>
                                                <div th:if="${param.added_table}" class="successful_action_message">
                                                    You have successfully added a table.
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div> <!-- End of add schema form -->
                            <!-- start of view schemas -->
                            <div style="margin: 0; padding: 0; display: none" class="item_action" id="view_table">
                                List of tables here
                            </div>
                            <!-- End of view schemas -->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="action_pane" id="db_relationship" style="display: none;">
                <h2>Database Relationships</h2>
                <table style="width: 94%;">
                    <tr>
                        <td align="center">
                            <img th:src="@{/images/add.png}" alt="Add" class="top_action_icon_image" onclick="displaySelection('add_relationship', 'item_action')" />
                            <img th:src="@{/images/view.png}" alt="View" class="top_action_icon_image" onclick="displaySelection('view_relationship', 'item_action')" />
                        </td>
                    </tr>
                    <tr>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width:100%; margin:0; padding:0;" class="item_action" id="add_relationship">
                                <form th:action="@{/database_relationship}" method="post">
                                    <table style="margin-top: auto; margin-bottom: auto; width: 100%;" border="0">
                                        <tr>
                                            <td align="center">
                                                <select name="left_table" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;" required>
                                                    <option disabled selected>Select left table</option>
                                                    <option>Some table 1</option>
                                                    <option>Some table 2</option>
                                                    <option>Some table 3</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <select name="right_table" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;" required>
                                                    <option disabled selected>Select right table</option>
                                                    <option>Some table 1</option>
                                                    <option>Some table 2</option>
                                                    <option>Some table 3</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <select name="type" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;" required>
                                                    <option disabled selected>Select relationship</option>
                                                    <option>Many to Many</option>
                                                    <option>One to Many</option>
                                                    <option>One to One</option>
                                                    <option>Recursive Many to Many</option>
                                                    <option>Recursive One to Many</option>
                                                    <option>Recursive One to One</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td valign="middle" align="center">
                                                <label>
                                                    <textarea name="description" style="width: 80%; height: 200px; font-size: large; padding: 10px 10px;" placeholder="type here" required></textarea>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><br /></td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <input type="submit" value="Add Relationship" class="add_button"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <div th:if="${param.error}" class="failed_action_message">
                                                    Invalid relationship details
                                                </div>
                                                <div th:if="${param.added_relationship}" class="successful_action_message">
                                                    You have successfully added a relationship.
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div> <!-- End of add schema form -->
                            <!-- start of view schemas -->
                            <div style="margin: 0; padding: 0; display: none" class="item_action" id="view_relationship">
                                List of table relationships here
                            </div>
                            <!-- End of view schemas -->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="action_pane" id="db_column" style="display: none;">
                <h2>Table Columns</h2>
                <table style="width: 94%;">
                    <tr>
                        <td align="center">
                            <img th:src="@{/images/add.png}" alt="Add" class="top_action_icon_image" onclick="displaySelection('add_column', 'item_action')" />
                            <img th:src="@{/images/view.png}" alt="View" class="top_action_icon_image" onclick="displaySelection('view_column', 'item_action')" />
                        </td>
                    </tr>
                    <tr>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width:100%; margin:0; padding:0;" class="item_action" id="add_column">
                                <form th:action="@{/database_column}" method="post">
                                    <table style="margin-top: auto; margin-bottom: auto; width: 100%;" border="0">
                                        <tr>
                                            <td align="center">
                                                <select name="table_name" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;" required>
                                                    <option disabled selected>Select table</option>
                                                    <option>Some table 1</option>
                                                    <option>Some table 2</option>
                                                    <option>Some table 3</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <input type="number" name="column_number" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;" placeholder="Column number e.g 1 (for ordering)" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <input type="text" name="column_name" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;" placeholder="Column name e.g 1 (first name)" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <select name="sql_dialect" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;" required>
                                                    <option disabled selected>Select sql dialect</option>
                                                    <option>PostgreSQL(PL/pgSQL)</option>
                                                    <option>Oracle(PL/SQL)</option>
                                                    <option>MySQL</option>
                                                    <option>MSSQL(Transact-SQL)</option>
                                                    <option>DB2</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <input type="text" name="column_data_type" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;" placeholder="Column data type e.g 1 (varchar)" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <input type="number" name="precision" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;" placeholder="precision">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <input type="number" name="scale" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;" placeholder="scale">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <input type="text" name="default_value" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;" placeholder="default value e.g 1">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label style="margin-left: 25%;">
                                                   <input type="checkbox" name="is_nullable"> is nullable
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label style="margin-left: 25%;">
                                                    <input type="checkbox" name="is_pk"> is primary key
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label style="margin-left: 25%;">
                                                    <input type="checkbox" name="is_fk"> is foreign key
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label style="margin-left: 25%;">
                                                    <input type="checkbox" name="is_a_fact_based_column"> is a fact based column
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label style="margin-left: 25%;">
                                                    <input type="checkbox" name="is_encrypted"> is encrypted
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label style="margin-left: 25%;">
                                                    <input type="checkbox" name="is_indexed"> is indexed
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <select name="reference_table_name" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;">
                                                    <option disabled selected>Select reference table</option>
                                                    <option>Some table 1</option>
                                                    <option>Some table 2</option>
                                                    <option>Some table 3</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <select name="reference_column_name" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;">
                                                    <option disabled selected>Select reference column name</option>
                                                    <option>Some column 1</option>
                                                    <option>Some column 2</option>
                                                    <option>Some column 3</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <select name="on_delete_action" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;">
                                                    <option disabled selected>Select on delete action</option>
                                                    <option>cascade</option>
                                                    <option>ignore or do nothing</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <select name="on_update_action" style="width: 80%; height: 30px; font-size: large; padding: 0px 10px; border: none; background: white;">
                                                    <option disabled selected>Select on update or conflict action</option>
                                                    <option>cascade</option>
                                                    <option>ignore or do nothing</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td valign="middle" align="center">
                                                <label>
                                                    <textarea name="description" style="width: 80%; height: 200px; font-size: large; padding: 10px 10px;" placeholder="type here" required></textarea>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><br /></td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <input type="submit" value="Add Column" class="add_button"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <div th:if="${param.error}" class="failed_action_message">
                                                    Invalid column details
                                                </div>
                                                <div th:if="${param.added_column}" class="successful_action_message">
                                                    You have successfully added a column.
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div> <!-- End of add schema form -->
                            <!-- start of view schemas -->
                            <div style="margin: 0; padding: 0; display: none" class="item_action" id="view_columns">
                                List of table columns here
                            </div>
                            <!-- End of view schemas -->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="action_pane" id="db_documentation" style="display: none; width: 100%; padding: 0; margin: 0; overflow-x: scroll;">
                <h2>Database Documentation</h2>
                <div style="width: 100%; overflow-x: auto;">
                    <p>The database documentation information for this application can be found in the &quot;<span th:text="${documentation_schema}"></span>&quot; schema from whence it can be generated in a preferable way.</p>
                    <p>This documentation contains information about the different different schemas, tables, relationships between the different tables, and the columns that belong to each and every table.</p>
                    <p>The different schemas in the database include - </p>
                    <ul>
                        <li th:each="schema:${app_schema_list}">
                           <span th:text="${schema.name}"></span>
                        </li>
                    </ul>
                    <p>However, the following schemas are not of interest or relevance to documenting important objects relevant to the modelled application objects of the system</p>
                    <ul>
                        <li th:each="schema:${other_schema_list}">
                            <span th:text="${schema}"></span>
                        </li>
                    </ul>
                    <p>The different schemas manage the following list of tables</p>
                    <div th:each="schema_name:${schema_name_table_list_map.keySet()}">
                        <span th:text="${schema_name}"></span>
                        <ol>
                            <li th:each="table_name: ${schema_name_table_list_map.get(schema_name)}">
                                <span th:text="${table_name}"></span>
                            </li>
                        </ol>
                    </div>
                    <p>The database will have the following pre modelled tables in an attempt to standardize software modules common many software development projects.</p>
                    <div style="width: 100%; height: auto; overflow: scroll; overflow-x: auto;">
                        <table border="1" cellpadding="2" cellspacing="0" align="center" style="width: auto;">
                            <tr style="background: #777777; color: white; font-size: medium;">
                                <td>Name</td>
                                <td>Fully Qualified Name (FQN)</td>
                                <td>Description</td>
                            </tr>
                            <tr th:each="table_obj:${table_list}" style="font-size: small">
                                <td th:text="${table_obj.getName()}"></td>
                                <td th:text="${table_obj.getFullyQualifiedName()}"></td>
                                <td th:text="${table_obj.getDescription()}"></td>
                            </tr>
                        </table>
                    </div>
                    <p>Each of the tables above have the following columns used to maintain data about their corresponding entities</p>

                    <div th:each="table_obj: ${table_list}" style="width: 100%; height: auto; overflow: scroll; overflow-x: auto;">
                        <h3 th:text="${table_obj.getName()}"></h3>
                        <table border="1" cellpadding="2" cellspacing="0" align="center" style="width: auto;">
                            <tr style="background: #777777; color: white; font-size: medium;">
                                <td>Column number</td>
                                <td>Name</td>
                                <td>Data type</td>
                                <td>Precision</td>
                                <td>Scale</td>
                                <td>Default value</td>
                                <td>Nullable</td>
                                <td>PK</td>
                                <td>FK</td>
                                <td>Reference table name (FQN)</td>
                                <td>Reference column name</td>
                                <td>On update action</td>
                                <td>On delete action</td>
                                <td>Is a fact based column</td>
                                <td>Encrypted</td>
                                <td>Indexed</td>
                                <td>Description</td>
                            </tr>
                            <tr th:each="col:${table_obj.getUniversalColumnList()}" style="font-size: small">
                                <td th:text="${col.getNumber()}"></td>
                                <td th:text="${col.getName()}"></td>
                                <td th:text="${col.getDataType()}"></td>
                                <td th:text="${col.getPrecision()}"></td>
                                <td th:text="${col.getScale()}"></td>
                                <td th:text="${col.getDefaultValue()}"></td>
                                <td th:text="${col.getIsNullable()}"></td>
                                <td th:text="${col.getIsPK()}"></td>
                                <td th:text="${col.getIsFK()}"></td>
                                <td th:text="${col.getReferenceTableName()}"></td>
                                <td th:text="${col.getReferenceColumnName()}"></td>
                                <td th:text="${col.getOnUpdateAction()}"></td>
                                <td th:text="${col.getOnDeleteAction()}"></td>
                                <td th:text="${col.getIsAFactBasedColumn()}"></td>
                                <td th:text="${col.getIsEncrypted()}"></td>
                                <td th:text="${col.getIsIndexed()}"></td>
                                <td th:text="${col.getDescription()}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </td>

        <td align="center" valign="top" id="right_pane">
            <table style="width: 100%; border: 0;">
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <td valign="middle" align="center">
                        <p>Hello</p>
                    </td>
                </tr>
                <tr>
                    <td valign="middle" align="center">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign Out" style="border: 0; background: white; cursor: pointer;"/>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>

    </tr>
</table>


</body>
</html>