<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>User privileges</title>
  <link rel="stylesheet"  th:href="@{css/forms.css}" />
</head>
<body style="margin: 0; padding: 0;">

<form th:action="@{/create_role_privilege_mappings}" th:object="${rolePrivilegeForm}" method="post">

  <table cellspacing="5" cellpadding="0" border="0" width="60%" align="center">
    <tr style="font-size: medium; font-weight: bold;">
      <td valign="middle" align="center">
          Role
      </td>
      <td valign="middle" align="center">
          Privilege
      </td>
      <td valign="middle" align="center">
        Privilege Description
      </td>
      <td valign="middle" align="center">
        Action
      </td>
    </tr>
    <th:block th:each="rolePrivilegeMapModel: ${role_privilege_list}">
      <tr style="font-size: smaller;">
        <td>
          <label th:text="${
                    rolePrivilegeMapModel.getRole().getName() + '(' + rolePrivilegeMapModel.getRole().getCode()+ ') '
                 }"
                 th:title="${rolePrivilegeMapModel.getRole().getDescription()}"
          >
          </label>
        </td>
        <td>
          <label th:text="${rolePrivilegeMapModel.getPrivilege().getName()}">
          </label>
        </td>
        <td>
          <label th:text="${rolePrivilegeMapModel.getPrivilege().getDescription()}"></label>
        </td>
        <td valign="middle" align="center">
          <label>
            <input type="hidden" class="roles" name="role_id" th:value="${rolePrivilegeMapModel.getRole().getId()}" />
            <input type="hidden" class="privileges" name="privilege" th:value="${rolePrivilegeMapModel.getPrivilege().getId()}" />
            <input type="checkbox" class="statuses" name="id" th:value="${rolePrivilegeMapModel.getId()}" />
          </label>
        </td>
      </tr>
      <tr>
        <td colspan="4"><hr style="background: #777777; height: 3px;" /></td>
      </tr>
    </th:block>
    <tr>
      <td colspan="4"><br /></td>
    </tr>
    <tr>
      <td align="center" colspan="4">
        <input type="button" class="add_button" value="Submit" id="submit_role_privileges" /><br />
      </td>
    </tr>
    <tr>
      <td colspan="4"><br /></td>
    </tr>
  </table>

</form>


<script type="application/javascript">

  var submitButton = document.getElementById("submit_role_privileges");

  submitButton.addEventListener("click", () => {

    const roleIdElements = document.getElementsByClassName("roles");
    const privilegeIdElements = document.getElementsByClassName("privileges");
    const statusElements = document.getElementsByClassName("statuses");

    var submissionString = [];

    for(let i=0; i<roleIdElements.length; i++){
      var roleId = roleIdElements[i].value;
      var privilegeId = privilegeIdElements[i].value;
      var status = statusElements[i].checked;
      if(status !== true)
        continue;
      submissionString[i] = {
        role_id: roleId,
        privilege_id: privilegeId,
        status: status
      };
    }
    fetch('/create_role_privilege_mappings',
            {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify(submissionString)
            }
    );
  });
</script>


</body>
</html>